@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

::selection {
  background-color: #0157e4;
  color: #ffffff;
}

::-moz-selection {
  background-color: #0157e4;
  color: #ffffff;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
